{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
